@import '~reset-css/reset';
@import '~milligram/dist/milligram.css';

html {
  height: 100%;
}

body {
  height: 100%
}

.welcome {
  padding: 2em;
}

.code {
  padding: 2em .5em;
  min-height: 10em;
  background-color: #f4f5f6
}